name: agent-portabase-prod

services:
  app:
    container_name: agent-portabase-prod
    restart: always
    image: solucetechnologies/agent-portabase:1.0.1-rc.2
    volumes:
      - ./databases.json:/app/src/data/config/config.json
      - ./server_public.pem:/app/server_public.pem
    environment:
      TZ: "Europe/Paris"
      ENVIRONMENT: "development"
      EDGE_KEY: "eyJzZXJ2ZXJVcmwiOiJodHRwOi8vbG9jYWxob3N0Ojg4ODciLCJhZ2VudElkIjoiYzJjNDZmYzgtMGYzMi00NDJkLWJmMGYtZDYwNjFmZjdlYjg2In0"
    network_mode: host #in development

  db:
    image: postgres:17-alpine
    ports:
      - "5430:5432"
    volumes:
      - postgres-data-prod:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=changeme

    network_mode: host #in development

volumes:
  postgres-data-prod: