name: agent-portabase

services:
  app:
    container_name: agent-portabase
    restart: always
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - ./src:/app/src
      - ./databases.json:/app/src/data/config/config.json
      - ./server_public.pem:/app/server_public.pem
    environment:
      ENVIRONMENT: "development"
      EDGE_KEY: "eyJzZXJ2ZXJVcmwiOiJodHRwOi8vbG9jYWxob3N0Ojg4ODciLCJhZ2VudElkIjoiYjFkMzM4ZjAtYTgyNC00NThiLTk5MjgtMDY2ZTE5NDdiYzdhIn0"
    network_mode: host #in development

  db:
    image: postgres:17-alpine
    ports:
      - "5430:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=changeme

    network_mode: host #in development

volumes:
  postgres-data: